.btn-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    border-radius: 10px;
    margin: 0.5rem 0;
    color: var(--tint-light-text-color);
    &:hover{
        background: var(--tint-secondary-actions-color);
    }
    span{
        font-size: 14px;
    }
}
.btn-nav-active{
    color: rgb(242, 98, 124);
    background: rgba(242, 98, 124, 0.089) ;
}